# requirements.txt
fastapi
uvicorn[standard]
gunicorn
sqlalchemy
pymysql
alembic
pandas
openpyxl
passlib          # <-- Changed
argon2-cffi
python-jose[cryptography]
python-dotenv
pydantic-settings
python-multipart
email-validator
